@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?api3md');
  src:  url('fonts/icomoon.eot?api3md#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?api3md') format('truetype'),
    url('fonts/icomoon.woff?api3md') format('woff'),
    url('fonts/icomoon.svg?api3md#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-library:before {
  content: "\e921";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-GoogleScholar:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%234285f4'%3E%3Cpath d='M5.242 13.769L0 9.5 12 0l12 9.5-5.242 4.269C17.548 11.249 14.978 9.5 12 9.5c-2.977 0-5.548 1.748-6.758 4.269zM12 10a7 7 0 1 0 0 14 7 7 0 0 0 0-14z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-star-empty:before {
  content: "\2606";
}
.icon-star-half:before {
  content: "\272e";
}
.icon-star-full:before {
  content: "\2605";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vine:before {
  content: "\ea97";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-renren:before {
  content: "\ea99";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-lanyrd:before {
  content: "\eaa2";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-deviantart:before {
  content: "\eaaa";
}
.icon-500px:before {
  content: "\eaab";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-github:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2328a745'%3E%3Cpath d='M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-npm:before {
  content: "\eab1";
}
.icon-basecamp:before {
  content: "\eab2";
}
.icon-trello:before {
  content: "\eab3";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-joomla:before {
  content: "\eab5";
}
.icon-ello:before {
  content: "\eab6";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-yahoo:before {
  content: "\eabb";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-hackernews:before {
  content: "\eac7";
}
.icon-wikipedia:before {
  content: "\eac8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-lastfm:before {
  content: "\eacb";
}
.icon-delicious:before {
  content: "\eacd";
}
.icon-stumbleupon:before {
  content: "\eace";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-xing2:before {
  content: "\ead4";
}
.icon-flattr:before {
  content: "\ead5";
}
.icon-foursquare:before {
  content: "\ead6";
}
.icon-yelp:before {
  content: "\ead7";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-mail:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ea4335' d='M24 5.457v13.087c0 .904-.732 1.636-1.636 1.636H1.636C.732 20.18 0 19.448 0 18.544V5.457c0-.904.732-1.636 1.636-1.636h20.728C23.268 3.821 24 4.553 24 5.457z'/%3E%3Cpath fill='%23c5221f' d='m0 18.544 7.614-6.256L24 18.544v.002H0z'/%3E%3Cpath fill='%23dd4b39' d='M1.636 3.821c-.901 0-1.636.732-1.636 1.636v.274L12 13.287l12-7.556v-.274c0-.904-.732-1.636-1.636-1.636z'/%3E%3Cpath fill='%23c23321' d='M0 5.457v.274L12 13.287 24 5.731V5.457L12 12.85z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-spinner11:before {
  content: "\21bb";
}
.icon-cog:before {
  content: "\e994";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-menu:before {
  content: "\2630";
}
.icon-arrow-right2:before {
  content: "\2192";
}
.icon-arrow-left2:before {
  content: "\2190";
}
.icon-home3:before {
  content: "\e902";
}
.icon-mail2:before {
  content: "\ea84";
}
